/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*END RESET.CSS*/

.wrapper{
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
}

header{
	height: 140px;
	background-color: #ebecee;
}

header .logo{
	margin-left: 3%;
}

header .logo img{
	margin-top: 70px;
}

header .menu ul{
	display: flex;
	justify-content: space-between;
	width: 340px;
}

header .menu ul li a{
	text-decoration: none;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: #333333;
}

header .btn a{
	text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    padding: 25px 50px;
    background-color: #fff;
    border-radius: 35px;
}

header .logo, header .menu, header .btn{
	display: inline-block;
}

header .menu{
	margin-left: 62%;
	position: relative;
	top: -20px;
}

header .btn{
	margin-left: 3%;
	position: relative;
	top: -20px;
}

header .btn a:hover{
	color: #ffffff;
	background-color: #8d7431;
}

.container2{
	background-image: url('./img/background_top.png');
	height: calc(100vh - 140px);
	max-height: 950px;
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-color: #ebecee;
	background-size: contain;
}

.container2 .main{	
	display: inline-block;
	position: relative;
	top: 25vh;
	left: 240px;
	text-align: center;
}

.container2 h1{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 60px;
	color: #222222;	
}


.container2 .main .btn{	
	margin-top: 7vh;
}

.container2 .main .btn a{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	padding: 25px 50px;
	background-color: #fff;
	border-radius: 35px;
	text-transform: uppercase;
}

.container2 .main .btn a:hover{
	color: #ffffff;
	background-color: #8d7431;
}

.container3 h2{
	margin-top: 12vh;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	color: #141311;
	margin-bottom: 25px;
}

.center{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.container3 p{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #333333;
	text-align: center;
	line-height: 24px;
	margin-bottom: 35px;
	margin-left: 1%;
	margin-right: 1%;
}

.container3 .cards{
	display: flex;
	justify-content: space-between;
	
}

.container3 .cards .item{
	width: 377px;
}

.container3 .cards .img{
	position: relative;
}

.container3 .cards .img .black{
	display: none;
	opacity: 0.5;
	position: absolute;
	background-color: #000000;
	width: 100%;
	height: calc(100% - 2px);
}

.container3 .cards .img:hover{
	cursor: pointer;
}

.container3 .cards .item .img .hover_effect_img{
	position: absolute;
    top: 25%;
	left: 35%;
	display: none;
}

.container3 .cards .img:hover .hover_effect_img{
	display: initial;
}

.container3 .cards .img:hover .black{
	display: initial;
}

.container3 .cards .desc{
	margin: 35px 35px 0 35px;
}

.container3 .cards .desc span{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300; 
	font-size: 22px;
}

.container3 .cards p{
	margin-top: 20px;	
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-align: justify;
	line-height: 14px;
	margin-bottom: 12vh;
	margin-left: 0;
	margin-right: 0;
}


.container4{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /*repeat(3, 1fr);*/
	grid-template-rows: 1fr 1fr 1fr;
}

.container4 .item6{
	background-image: url('./img/image6.png');
	background-repeat: no-repeat;
	grid-column: 3/4;
	grid-row: 2/4;
	background-size: cover;
}

.container4 .item7{
	background-image: url('./img/image7.png');
	background-repeat: no-repeat;
	grid-column: 1/3;
	grid-row: 3/4;
	background-size: cover;
}

.container4 img{
	max-width: 100%;
}

.container4 .item{
	margin: auto;
}

.container4 .item span, .container4 .item6 span, .container4 .item7 span{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300; 
	font-size: 30px;
	color: #141311;
	display: block;
	width: 60%;
	margin-left: 20%;
}

.container4 .item i, .container4 .item6 i, .container4 .item7 i{
	display: block;
	height: 2px;
	width: 35px;
	background-color: #000000;
	margin-left: 20%;
	margin-top: 12px;
}

.container4 .item p, .container4 .item6 p, .container4 .item7 p{
	font-family: 'Nunito', sans-serif;
	font-weight: 300; 
	font-size: 14px;
	color: #333333;
	display: block;
	width: 60%;
	margin-left: 20%;
	margin-top: 27px;
}

.container4 .item6 span, .container4 .item6 p{
	color: #ffffff;
}

.container4 .item6 span{
	margin-top: 80%;
}

.container4 .item6 i{
	background-color: #ffffff;
}

.container4 .item7 span, .container4 .item7 p{
	width: 30%;
	margin-left: 10%;
}

.container4 .item7 i{
	margin-left: 10%;
}

.container4 .item7 span{
	margin-top: 10%;
}

.container4{
	background-color: #f8f8f8;	
}

.container6{
	background-image: url('./img/background_container6.png');
	height: 1091px;
	max-height: 1100px;	
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

	
}

.container6 h2{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 48px;
	color: #ffffff;
	padding-top: 230px;
	margin-bottom: 125px;
}

.container6 .cards{
	display: flex; 
	justify-content: center;
}

.container6 .cards .item{
	width: 395px;
	height: 395px;
}

.container6 .cards .item:nth-child(2){
	border-left: 1px solid #252525;
	border-right: 1px solid #252525;
}

.container6 .cards .item .price{
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 80px;
	color: #c89d28;
}

.container6 .cards .item .price sup{
	font-size: 35px;
}

.container6 .cards .item span{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 22px;
	color: #ffffff;
	margin-bottom: 40px;
}



.container6 .cards .item p{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #999999;
	line-height: 24px;
}

.container6 .cards .item p:nth-child(3){
	margin-top: 50px;
}

.container6 .cards .item .btn{
	margin-top: 95px;
}

.container6 .cards .item a{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    padding: 25px 50px;
    background-color: #ffffff;
    border-radius: 35px;
}

.container6 .cards .item:first-child a{
	padding: 25px 90px;
}

.container6 .cards .item a:hover{
	color: #ffffff;
	background-color: #8d7431;
}


.container7{
	background-color: #e8e9ea;
}

.container7 h2{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 48px;
	padding-top: 8vh;
	padding-bottom: 5vh;
}

.container7 .grid_news{
	display: grid;
	grid-template-columns: 2fr 0.8fr 0.8fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 25px;
  	grid-row-gap: 25px;

}

.container7 .grid_news .item1{
	background-image: url('./img/image8.png');
	background-repeat: no-repeat;
	grid-column: 1/2;
	grid-row: 1/3;
	background-size: cover;
}

.container7 .grid_news .item img{
	max-width: 100%;	
	margin-top: -40px;
}

.container7 .grid_news .item p{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #333333;
	margin-top: 25px;
	margin-bottom: 5px;
}

.container7 .btn{
	text-align: center;
}

.container7 .btn a{
	display: inline-block;
	margin-top: 5vh;
	margin-bottom: 8vh;	
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	padding: 25px 50px;
    background-color: #ffffff;
    border-radius: 35px;
}

.container7 .btn a:hover{
	color: #ffffff;
	background-color: #8d7431;
}

.container7 .grid_news .tag{
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #ffffff;
	padding: 10px 16px;
	background-color: #8d7431;
	border-radius: 14px;
}

.container7 .grid_news .item .tag{
	position: relative;
}

.container7 .grid_news .item1 .headline{
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #ffffff;
	margin-top: 21vh;
	line-height: 40px;
}

.container7 .grid_news .item1 .desc{
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 11px;
	color: #cccccc;
	margin-top: 3vh;
   
}

.container7 .grid_news .item1 .desc span{
	color: #b28c27;
}

.container7 .grid_news .item1 .item1_content{
	width: 70%;
	margin: auto;
	text-align: center;
}







@media (max-width: 1300px){
	.center{
		width: 95%;
	}

	.container3 .cards{
		flex-wrap: wrap;
		justify-content: space-around;
	}
}